.todo-filters {
  visibility: hidden;
  height: 2rem;
  width: 40rem;
  margin: 50px auto;
  background: white;
  color: black;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &-total {
    font-size: 14px;
    width: 100px;
  }
  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0rem;
    width: 290px;
    margin: 0;
  }
}

.active-btn {
  font-size: 14px;
  font-weight: bold;
}

.visible {
  visibility: visible;
}
